.clients{
  @media screen and (max-width: $break-small) {
    padding-bottom: 30px;
    background: #fdc029;
  }
  &__top{
    background: #fdc029;
    padding: 40px 0 15px 0;
    @media screen and (max-width: $break-small) {
      padding: 40px 10px 5px 10px;
    }
    h3{
      font-size: 35px;
      margin-bottom: 13px;
      text-transform: uppercase;
    }
    p{
      font-family: $font-light-italic;
      font-size: 24px;
      @media screen and (max-width: $break-small) {
        line-height: 1.1;
      }
    }
  }

  .tabs{
    &__top{
      background: #fdc029;
      padding: 10px 0 40px 0;
      @media screen and (max-width: $break-medium) {
        display: none;
      }
      ul.tabs-list {
        margin: 0;
        padding: 0;
        display: block;
        width: 100%;
        text-align: center;


        li {
          display: inline-block;
          margin: 0 15px;
          cursor: pointer;
          font-size: 22px;
          font-family: $font-medium;
          position: relative;
          text-transform: uppercase;
          text-align: center;
          @media screen and (max-width: $break-large) {
            font-size: 16px;
          }

          &.active{
            font-family: $font-light;
            &:after{
              content: '';
              display: block;
              position: absolute;
              bottom: -64px;
              left: 50%;
              margin-left: -23px;
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 25px 23px 0 23px;
              border-color: #fdc029 transparent transparent transparent;
            }
          }
        }
      }
    }
    .tab_container {
      clear: both;
      float: left;
      width: 100%;
      background: #fff;
      overflow: auto;
    }

    .tab_content {
      padding: 40px 0;
      display: none;
      text-align: center;
      @media screen and (max-width: $break-medium) {
        padding: 40px 15px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        margin-bottom: -1px;
        &:last-child{
          border-bottom: 2px solid black;
        }
      }

      .logos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        img{
          display: inline-block;
          vertical-align: middle;
          margin: 32px 0;
          width: 33%;
          max-width: 280px;
          @media screen and (max-width: $break-medium) {
            padding: 0 10px;
          }
          @media screen and (max-width: 450px) {
            width: 90%;
            max-width: 90%;
            display: block;
            margin: 15px auto;
          }
        }
      }
    }

    .tab_drawer_heading { display: none; }
    @media screen and (max-width: $break-medium) {
      &__bottom{
        .wrap{
          width: 100%;
        }
      }
      .tab_drawer_heading {
        background-color: #fdc029;
        color: $black;
        border-top: 1px solid $black;
        margin: 0;
        padding: 20px 55px 20px 15px;
        display: block;
        cursor: pointer;
        font-size: 22px;
        font-family: $font-medium;
        text-transform: uppercase;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: relative;

        &:after{
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          right: 26px;
          margin-top: -10px;
          width: 19px;
          height: 18px;
          background: url("../images/arrows-tabs.png") no-repeat 0 -24px;
        }
        &.d_active:after{
          background: url("../images/arrows-tabs.png") no-repeat 0 0;
        }
      }

    }
  }




}