.footer{
  padding: 40px 0;
  background: $black;
  *{
    color: $white;
    font-size: 16px;
  }
  a{
    text-decoration: underline;
    &:hover,
    &:focus{
      color: $orange;
      text-decoration: none;
    }
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width: $break-small) {
      padding: 0 10px;
    }
  }
  &__block{
    width: 20%;
    @media screen and (max-width: 825px) {
      width: auto;
    }
    @media screen and (max-width: 525px) {
      width: 100%;
      max-width: 275px;
      text-align: center;
      margin: 0 auto;

      &:first-child{
        display: none;
      }
      ul{
        li{
          margin-bottom: 10px;
        }
      }
      .decor-none{
        font-size: 21px;
      }
    }
  }


}