.header {
  .toggle-nav {
    display:none;
  }
  &__top{
    padding: 25px 0 40px 0;
    @media screen and (max-width: $break-small) {
      padding: 15px 0 15px 0;
    }
    @media screen and (max-width: 550px) {
      padding: 15px 0 8px 0;
    }
  }
  &__logo{
    float: left;
    width: 40%;
    @media screen and (max-width: $break-large) {
      width: 30%;
    }
    @media screen and (max-width: $break-medium) {
      width: 50%;
      text-align: center;
      img{
        max-width: 175px;
      }
    }
    @media screen and (max-width: $break-small) {
      a{
        display: block;
        padding: 0 10px;
      }

    }
    @media screen and (max-width: 550px) {
      img{
        max-width: 100%;
      }
    }
  }
  &__info{
    margin-top: 20px;
    float: left;
    width: 37%;
    @media screen and (max-width: $break-large) {
      margin-top: 0;
    }
    @media screen and (max-width: $break-medium) {
      display: none;
    }
  }
  &__phones{
    margin-top: 20px;
    float: left;
    width: 23%;
    @media screen and (max-width: $break-large) {
      width: 33%;
      margin-top: 0;
    }
    @media screen and (max-width: $break-medium) {
      width: 50%;
      text-align: center;
    }
  }
  &__phone-num{
    font-size: 30px;
    color: $black;
    &:hover,
    &:focus{
      text-decoration: none;
    }
    @media screen and (max-width: $break-medium) {
      font-size: 20px;
    }
  }
  &__menu{
    background: $orange;
    border-bottom: 1px solid #ca6e0a;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    @media screen and (max-width: 550px) {
      padding: 8px 0;
    }
    *{
      color: $white;
    }
    ul{
      display: flex;
      justify-content: space-between;
      li{
        font-size: 20px;
        text-transform: uppercase;
        position: relative;
        @media screen and (max-width: $break-large) {
          font-size: 16px;
        }

        &:after{
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          right: -24px;
          margin-top: -2.5px;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: $white;
          @media screen and (max-width: $break-large) {
           content: none;
          }
        }
        &:last-child:after{
          content: none;
        }
        a:hover{
          color: $black;
          text-decoration: none;
        }
      }
    }
    @media screen and (max-width: $break-small){
      .menu {
        position: relative;
        display: inline-block;
        width: 100%;
        ul.active {
          display:none;
        }

        ul {
          width:100%;
          position:absolute;
          top:120%;
          left:0;
          padding:10px 18px;
          box-shadow:0 1px 1px rgba(0,0,0,0.15);
          border-radius:3px;
          background:#303030;
          z-index: 100;
          display: inherit;
          &:after {
            width:0;
            height:0;
            position:absolute;
            top:0;
            right:22px;
            content:'';
            transform:translate(0%, -100%);
            border-left:7px solid transparent;
            border-right:7px solid transparent;
            border-bottom:7px solid #303030;
          }
          li {
            margin:5px 0 15px 0;
            float:none;
            display:block;
          }
          a {
            display:block;
            &:hover{
              color: $orange;
              text-decoration: none;
            }
          }
        }

      }

      .toggle-nav {
        float: right;
        display:inline-block;
        color: $white;
        font-size:30px;
        margin: 0 15px;
        transition:color linear 0.15s;

        &:hover,
        &:focus,
        &.active{
          text-decoration:none;
          color: $black;
        }
      }
    }
  }

}