.main-content{
  padding: 65px 0;
  @media screen and (max-width: $break-medium) {
    padding: 50px 0;
  }
  .left-content{
    width: 66%;
    margin-right: 3%;
    float: left;
    @media screen and (max-width: $break-medium) {
      width: calc(100% - 20px);
      margin-right: 0;
      float: none;
      padding: 0 10px;
    }
  }
  .right-content{
    width: 31%;
    float: right;
    @media screen and (max-width: $break-medium) {
      width: calc(100% - 20px);
      float: none;
      margin-bottom: 50px;
      padding: 0 10px;
    }
  }
  h3{
    font-size: 34px;
    line-height: 1.1;
    margin-bottom: 21px;
    text-transform: uppercase;
    @media screen and (max-width: $break-small) {
      font-size: 30px;
    }
  }
}
.work{
  margin-bottom: 40px;
  @media screen and (max-width: 550px) {
    margin-bottom: 13px;
  }
  &:last-child{
    margin-bottom: 0;
  }

  &__image{
    float: left;
    width: 40%;
    max-width: 210px;
    @media screen and (max-width: $break-medium) {
      display: none;
    }
    img{
      width: 185px;
      height: 185px;
      border: 5px solid $white;
      border-radius: 50%;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    }
  }
  &__content{
    float: left;
    width: 60%;
    @media screen and (max-width: $break-medium) {
      width: 100%;
    }
    h3{
      font-size: 30px;
      line-height: 1.15;
      margin-bottom: 20px;
      text-transform: uppercase;
      @media screen and (max-width: $break-medium) {
        margin-bottom: 15px;
      }
      @media screen and (max-width: 550px) {
        margin-bottom: 4px;
      }
    }
    p{
      font-size: 18px;
      margin-bottom: 18px;
      line-height: 1.2;
    }
    .btn-orange{
      margin: 5px 0;
      min-width: 197px;
      padding: 6px;
      @media screen and (max-width: $break-medium) {
        width: 200px;
        height: 40px;
        line-height: 40px;
        padding: 0;
        font-size: 24px;
      }
    }
  }
}

.certificate{
  margin-bottom: 105px;
  @media screen and (max-width: $break-medium) {
    margin-bottom: 50px;
    h3{
      text-align: left;
    }
  }

  img{
    max-width: 240px;
    height: auto;
  }
  @media screen and (max-width: 550px) {
    img{
      max-width: 160px;
    }
  }
  a{
    outline: none;
  }
}

.slider-products{
  @media screen and (max-width: $break-medium) {
    h3{
      text-align: left;
    }
  }
  .slick-slider{
    padding-top: 12px;
    @media screen and (max-width: 550px) {
      padding: 0;
    }
  }
  .slick-slide{
    img{
      width: 262px;
      height: 262px;
      display: block;
      margin: 25px auto;
      border-radius: 50%;
      border: 5px solid $white;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
      @media screen and (max-width: $break-large) {
        width: 215px;
        height: 215px;
      }
      @media screen and (max-width: 550px) {
          margin: 0 auto;
      }
    }
  }
  .arrow-right{
    display: inline-block !important;
    margin-top: 7px;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 9.5px 0 9.5px;
    border-color: #ff9701 transparent transparent transparent;
    @media screen and (max-width: $break-medium) {
      display: block!important;
      position: absolute;
      top: 50%;
      right: 8px;
      margin-top: -9.5px;
      border-width: 9.5px 0 9.5px 17px;
      border-color: transparent transparent transparent #ff9701;
      z-index: 10;
    }
  }
  .arrow-left{
    display: inline-block !important;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9.5px 17px 9.5px;
    border-color: transparent transparent #ff9701 transparent;
    @media screen and (max-width: $break-medium) {
      display: block!important;
      position: absolute;
      top: 50%;
      margin-top: -9.5px;
      left: 8px;
      border-width: 9.5px 17px 9.5px 0;
      border-color: transparent #ff9701 transparent transparent;
      z-index: 10;
    }
  }
}