.page-404{
  padding: 50px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  &__inner{
    flex: 1 0 auto;

    h3{
      font-size: 150px;
    }
    h4{
      font-size: 36px;
      font-family: $font-light-italic;
    }
  }
}
