.slider-main{
  width: 100%;
  height: 405px;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;
  position: relative;
  @media screen and (max-width: 550px) {
    height: 431px;
  }

  &:after{
    content: '';
    display: block;
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #fdc029;
  }

  .slick-slide{
    height: 405px;
    margin: 0 0.5px;
    transform:skew(-195deg);
    overflow: hidden;
    @media screen and (max-width: 550px) {
      height: 431px;
    }
    &:focus{
      outline: none;
    }
    &__inner{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50%;
      height: 405px;
      transform:skew(195deg);
      width: 200%;
      margin-left: -50%;
    }
  }
  &__form{
    width: 100%;
    position: absolute;
    bottom: -8px;
    left: 0;
  }
  &__form-block{
    max-width: 890px;
    margin: 0 auto;
    position: relative;
    @media screen and (max-width: $break-large) {
      background: rgba(255, 255, 255, 0.8);
      text-align: center;
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -20px;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.8);
      transform:skew(-195deg);
      @media screen and (max-width: $break-large) {
        content: none;
      }
    }
  }
  &__form-inner{
    padding: 25px 25px 15px 25px;
    position: relative;
    z-index: 10;
    @media screen and (max-width: $break-small) {
      padding: 15px 5px ;
    }
    @media screen and (max-width: 550px) {
      padding: 15px 5px 7px 5px;
    }
    h2{
      font-size: 35px;
      text-transform: uppercase;
      @media screen and (max-width: $break-large) {
        font-size: 30px;
      }
      @media screen and (max-width: $break-small) {
        font-size: 23px;
      }
    }
    p{
      font-size: 16px;
      margin: 9px 0;
      color: #2b2a28;
      text-transform: uppercase;
    }
  }
  form{
    input{
      background: $white;
      border: 1px solid $black;
      text-transform: uppercase;
      font-size: 20px;
      padding: 8px 10px;
      display: inline-block;
      vertical-align: top;
      max-width: 180px;
      margin-bottom: 5px;
      @media screen and (max-width: $break-large) {
        font-size: 14px;
        max-width: 175px;
      }
      @media screen and (max-width: $break-medium) {
        max-width: 100%;
        width: calc(100% - 20px);
        margin-bottom: 10px;
      }
    }
    input[type="submit"]{
      background: $orange;
      border: none;
      text-transform: uppercase;
      font-size: 25px;
      padding: 0;
      font-family: $font-medium;
      width: 197px;
      height: 41px;
      line-height: 44px;
      color: $black;
      @media screen and (max-width: $break-large) {
        font-size: 24px;
        width: 175px;
        height: 35px;
        line-height: 35px;
      }
      @media screen and (max-width: $break-medium) {
        max-width: 100%;
        width: 100%;
        margin-bottom: 10px;
      }

      &:hover,
      &:focus{
        outline: none;
        background: #ff4e00;
      }
    }
    input[type="checkbox"]{
      background: $white;
      border-radius: 0;
      width: 0;
      height: 0;
      opacity: 0;
      position: relative;
      margin: 0;
      padding: 0;
    }
    .checkbox-block{
      margin-top: 17px;
      @media screen and (max-width: $break-medium) {
        margin-top: 5px;
        text-align: left;
      }
      @media screen and (max-width: 550px) {
        
      }
    }
    .checkbox-custom-label{
      font-size: 16px;
      @media screen and (max-width: 400px) {
        padding-left: 29px;
        position: relative;
        font-size: 14px;
        display: block;
      }

    }
    .checkbox-custom + .checkbox-custom-label:before{
      content: '';
      background: #fff;
      border: 1px solid #000;
      display: inline-block;
      vertical-align: middle;
      width: 23px;
      height: 23px;
      margin-right: 10px;
      margin-top: -5px;
      text-align: center;
      @media screen and (max-width: 400px) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0;
      }
    }
    .checkbox-custom:checked + .checkbox-custom-label:before {
      content: "\2713";
      font-size: 20px;
      background: $white;
      color: $black;
    }

    .checkbox-custom:focus + .checkbox-custom-label{
      outline: none;
    }
  }
  .comment{
    margin-right: 100px;
    @media screen and (max-width: $break-large) {
      margin-right: 0;
    }
    @media screen and (max-width: 550px) {
      max-width: 225px;
      margin:  10px auto;
    }

    p{
      color: $white;
      font-size: 16px;
      margin-top: 0;
      @media screen and (max-width: $break-medium) {
        color: $black;
        text-transform: inherit;
        font-size: 15px;
      }
    }
    a{
      color: $white;
      @media screen and (max-width: $break-medium) {
        color: $black;
        //text-transform: inherit;
      }
    }
  }
}