

@font-face {
  font-family: 'pf_din_text_comp_proLtIt';
  src: url('../fonts/pfdintextcomppro-lightitalic-webfont.eot');
  src: url('../fonts/pfdintextcomppro-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdintextcomppro-lightitalic-webfont.woff2') format('woff2'),
  url('../fonts/pfdintextcomppro-lightitalic-webfont.woff') format('woff'),
  url('../fonts/pfdintextcomppro-lightitalic-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'pf_din_text_cond_proXThIt';
  src: url('../fonts/pfdintextcondpro-webfont.eot');
  src: url('../fonts/pfdintextcondpro-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdintextcondpro-webfont.woff2') format('woff2'),
  url('../fonts/pfdintextcondpro-webfont.woff') format('woff'),
  url('../fonts/pfdintextcondpro-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'pf_din_text_cond_probold';
  src: url('../fonts/pfdintextcondpro-bold-webfont-webfont.eot');
  src: url('../fonts/pfdintextcondpro-bold-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdintextcondpro-bold-webfont-webfont.woff2') format('woff2'),
  url('../fonts/pfdintextcondpro-bold-webfont-webfont.woff') format('woff'),
  url('../fonts/pfdintextcondpro-bold-webfont-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'pf_din_text_cond_prolight';
  src: url('../fonts/pfdintextcondpro-light-webfont-webfont.eot');
  src: url('../fonts/pfdintextcondpro-light-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdintextcondpro-light-webfont-webfont.woff2') format('woff2'),
  url('../fonts/pfdintextcondpro-light-webfont-webfont.woff') format('woff'),
  url('../fonts/pfdintextcondpro-light-webfont-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'pf_din_text_cond_promedium';
  src: url('../fonts/pfdintextcondpro-medium-webfont-webfont.eot');
  src: url('../fonts/pfdintextcondpro-medium-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdintextcondpro-medium-webfont-webfont.woff2') format('woff2'),
  url('../fonts/pfdintextcondpro-medium-webfont-webfont.woff') format('woff'),
  url('../fonts/pfdintextcondpro-medium-webfont-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}




@font-face {
  font-family: 'pf_din_text_cond_proregular';
  src: url('../fonts/pfdintextcondpro-regular-webfont-webfont.eot');
  src: url('../fonts/pfdintextcondpro-regular-webfont-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdintextcondpro-regular-webfont-webfont.woff2') format('woff2'),
  url('../fonts/pfdintextcondpro-regular-webfont-webfont.woff') format('woff'),
  url('../fonts/pfdintextcondpro-regular-webfont-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}