html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: $font-regular;
  color: $black;
}

body {
  display: flex;
  flex-direction: column;
}
.site{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.main{
  flex: 1;
}

.wrapper {
  flex: 1 0 auto;
}
.wrap{
  width: 990px;
  margin: 0 auto;
  @media screen and (max-width: $break-large) {
    width: 780px;
  }
  @media screen and (max-width: $break-medium) {
    width: 640px;
  }
  @media screen and (max-width: $break-small) {
    width: 100%;
  }
}

.clearfix {
  display: block;
  &:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

* html .clearfix { height: 1%; }


p{
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: $font-regular;
  font-size: 18px;
  line-height: 1.3;
  @media screen and (max-width: 768px){
    font-size: 16px;
  }
}
img{
  max-width: 100%;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.text-uppercase{
  text-transform: uppercase;
}
.decor-none{
  text-decoration: none !important;
}
.btn-orange{
  display: inline-block;
  padding: 10px 15px;
  margin: 5px 0;
  line-height: 1;
  background-color: $orange;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  font-family: $font-regular;
  color: $white;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  @media screen and (max-width: 768px){
    font-size: 16px;
    padding: 8px 10px;
  }
  @media screen and (max-width: 550px) {
    padding: 4px 10px;
  }

  &:hover,
  &:focus{
    background-color: #ff4e00;
    text-decoration: none;
    color: $white;
  }
}
@media screen and (min-width: $break-medium) {
  .show-small {
    display: none;
  }
}

@media screen and (max-width: $break-medium) {
  .hide-small {
    display: none;
  }
}