
$font-light: 'pf_din_text_cond_prolight',  sans-serif;
$font-light-italic: 'pf_din_text_comp_proLtIt',  sans-serif;
$font-regular: 'pf_din_text_cond_proregular',  sans-serif;
$font-medium: 'pf_din_text_cond_promedium',  sans-serif;
$font-bold: 'pf_din_text_cond_probold', sans-serif;


$white: #ffffff;
$black: #000;
$orange: #ff8400;
$grey: #525252;

$break-large: 1020px;
$break-medium: 820px;
$break-small: 680px;
