@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.navbar-default {
  background: none;
  border: none;
}

.navbar {
  margin-bottom: 0;
}

@font-face {
  font-family: 'pf_din_text_comp_proLtIt';
  src: url("../fonts/pfdintextcomppro-lightitalic-webfont.eot");
  src: url("../fonts/pfdintextcomppro-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcomppro-lightitalic-webfont.woff2") format("woff2"), url("../fonts/pfdintextcomppro-lightitalic-webfont.woff") format("woff"), url("../fonts/pfdintextcomppro-lightitalic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_din_text_cond_proXThIt';
  src: url("../fonts/pfdintextcondpro-webfont.eot");
  src: url("../fonts/pfdintextcondpro-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcondpro-webfont.woff2") format("woff2"), url("../fonts/pfdintextcondpro-webfont.woff") format("woff"), url("../fonts/pfdintextcondpro-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_din_text_cond_probold';
  src: url("../fonts/pfdintextcondpro-bold-webfont-webfont.eot");
  src: url("../fonts/pfdintextcondpro-bold-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcondpro-bold-webfont-webfont.woff2") format("woff2"), url("../fonts/pfdintextcondpro-bold-webfont-webfont.woff") format("woff"), url("../fonts/pfdintextcondpro-bold-webfont-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_din_text_cond_prolight';
  src: url("../fonts/pfdintextcondpro-light-webfont-webfont.eot");
  src: url("../fonts/pfdintextcondpro-light-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcondpro-light-webfont-webfont.woff2") format("woff2"), url("../fonts/pfdintextcondpro-light-webfont-webfont.woff") format("woff"), url("../fonts/pfdintextcondpro-light-webfont-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_din_text_cond_promedium';
  src: url("../fonts/pfdintextcondpro-medium-webfont-webfont.eot");
  src: url("../fonts/pfdintextcondpro-medium-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcondpro-medium-webfont-webfont.woff2") format("woff2"), url("../fonts/pfdintextcondpro-medium-webfont-webfont.woff") format("woff"), url("../fonts/pfdintextcondpro-medium-webfont-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pf_din_text_cond_proregular';
  src: url("../fonts/pfdintextcondpro-regular-webfont-webfont.eot");
  src: url("../fonts/pfdintextcondpro-regular-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/pfdintextcondpro-regular-webfont-webfont.woff2") format("woff2"), url("../fonts/pfdintextcondpro-regular-webfont-webfont.woff") format("woff"), url("../fonts/pfdintextcondpro-regular-webfont-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "slick";
  src: url("../fonts/slick.eot");
  src: url("../fonts/slick.eot?#iefix") format("embedded-opentype"), url("../fonts/slick.woff") format("woff"), url("../fonts/slick.ttf") format("truetype"), url("../fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.fancybox-enabled {
  overflow: hidden;
}

.fancybox-enabled body {
  overflow: visible;
  height: 100%;
}

.fancybox-is-hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

.fancybox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99993;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

/* Make sure that the first one is on the top */
.fancybox-container ~ .fancybox-container {
  z-index: 99992;
}

.fancybox-outer,
.fancybox-inner,
.fancybox-bg,
.fancybox-stage {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.fancybox-outer {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
          transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.87;
  -webkit-transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
          transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fancybox-infobar,
.fancybox-toolbar,
.fancybox-caption-wrap {
  position: absolute;
  direction: ltr;
  z-index: 99997;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .25s, visibility 0s linear .25s;
  transition: opacity .25s, visibility 0s linear .25s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fancybox-show-infobar .fancybox-infobar,
.fancybox-show-toolbar .fancybox-toolbar,
.fancybox-show-caption .fancybox-caption-wrap {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity .25s, visibility 0s;
  transition: opacity .25s, visibility 0s;
}

.fancybox-infobar {
  top: 0;
  left: 50%;
  margin-left: -79px;
}

.fancybox-infobar__body {
  display: inline-block;
  width: 70px;
  line-height: 44px;
  font-size: 13px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  text-align: center;
  color: #ddd;
  background-color: rgba(30, 30, 30, 0.7);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
}

.fancybox-toolbar {
  top: 0;
  right: 0;
}

.fancybox-stage {
  overflow: hidden;
  direction: ltr;
  z-index: 99994;
  -webkit-transform: translate3d(0, 0, 0);
}

.fancybox-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  outline: none;
  white-space: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  z-index: 99994;
  -webkit-overflow-scrolling: touch;
  display: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition-property: opacity, -webkit-transform;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.fancybox-slide::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}

.fancybox-is-sliding .fancybox-slide,
.fancybox-slide--previous,
.fancybox-slide--current,
.fancybox-slide--next {
  display: block;
}

.fancybox-slide--image {
  overflow: visible;
}

.fancybox-slide--image::before {
  display: none;
}

.fancybox-slide--video .fancybox-content,
.fancybox-slide--video iframe {
  background: #000;
}

.fancybox-slide--map .fancybox-content,
.fancybox-slide--map iframe {
  background: #E5E3DF;
}

.fancybox-slide--next {
  z-index: 99995;
}

.fancybox-slide > * {
  display: inline-block;
  position: relative;
  padding: 24px;
  margin: 44px 0 44px;
  border-width: 0;
  vertical-align: middle;
  text-align: left;
  background-color: #fff;
  overflow: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fancybox-slide .fancybox-image-wrap {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 99995;
  background: transparent;
  cursor: default;
  overflow: visible;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.fancybox-can-zoomOut .fancybox-image-wrap {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.fancybox-can-zoomIn .fancybox-image-wrap {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.fancybox-can-drag .fancybox-image-wrap {
  cursor: -webkit-grab;
  cursor: grab;
}

.fancybox-is-dragging .fancybox-image-wrap {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.fancybox-image,
.fancybox-spaceball {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  max-width: none;
  max-height: none;
}

.fancybox-spaceball {
  z-index: 1;
}

.fancybox-slide--iframe .fancybox-content {
  padding: 0;
  width: 80%;
  height: 80%;
  max-width: -webkit-calc(100% - 100px);
  max-width: calc(100% - 100px);
  max-height: -webkit-calc(100% - 88px);
  max-height: calc(100% - 88px);
  overflow: visible;
  background: #fff;
}

.fancybox-iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.fancybox-error {
  margin: 0;
  padding: 40px;
  width: 100%;
  max-width: 380px;
  background: #fff;
  cursor: default;
}

.fancybox-error p {
  margin: 0;
  padding: 0;
  color: #444;
  font: 16px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.fancybox-close-small {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  outline: none;
  background: transparent;
  z-index: 10;
  cursor: pointer;
}

.fancybox-close-small:after {
  content: '×';
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  font: 20px/30px Arial,"Helvetica Neue",Helvetica,sans-serif;
  color: #888;
  font-weight: 300;
  text-align: center;
  border-radius: 50%;
  border-width: 0;
  background: #fff;
  -webkit-transition: background .25s;
  transition: background .25s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2;
}

.fancybox-close-small:focus:after {
  outline: 1px dotted #888;
}

.fancybox-close-small:hover:after {
  color: #555;
  background: #eee;
}

.fancybox-slide--iframe .fancybox-close-small {
  top: 0;
  right: -44px;
}

.fancybox-slide--iframe .fancybox-close-small:after {
  background: transparent;
  font-size: 35px;
  color: #aaa;
}

.fancybox-slide--iframe .fancybox-close-small:hover:after {
  color: #fff;
}

/* Caption */
.fancybox-caption-wrap {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px 30px 0 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, rgba(0, 0, 0, 0.1)), color-stop(40%, rgba(0, 0, 0, 0.2)), color-stop(80%, rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8) 100%);
  pointer-events: none;
}

.fancybox-caption {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  line-height: 20px;
  -webkit-text-size-adjust: none;
}

.fancybox-caption a,
.fancybox-caption button,
.fancybox-caption select {
  pointer-events: all;
}

.fancybox-caption a {
  color: #fff;
  text-decoration: underline;
}

/* Buttons */
.fancybox-button {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  background: transparent;
  color: #ddd;
  border-radius: 0;
  cursor: pointer;
  vertical-align: top;
  outline: none;
}

.fancybox-button[disabled] {
  cursor: default;
  pointer-events: none;
}

.fancybox-infobar__body, .fancybox-button {
  background: rgba(30, 30, 30, 0.6);
}

.fancybox-button:hover:not([disabled]) {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}

.fancybox-button::before,
.fancybox-button::after {
  content: '';
  pointer-events: none;
  position: absolute;
  background-color: currentColor;
  color: currentColor;
  opacity: 0.9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
}

.fancybox-button[disabled]::before,
.fancybox-button[disabled]::after {
  opacity: 0.3;
}

.fancybox-button--left::after,
.fancybox-button--right::after {
  top: 18px;
  width: 6px;
  height: 6px;
  background: transparent;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
}

.fancybox-button--left::after {
  left: 20px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.fancybox-button--right::after {
  right: 20px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fancybox-button--left {
  border-bottom-left-radius: 5px;
}

.fancybox-button--right {
  border-bottom-right-radius: 5px;
}

.fancybox-button--close::before, .fancybox-button--close::after {
  content: '';
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 16px;
  top: -webkit-calc(50% - 1px);
  top: calc(50% - 1px);
  left: -webkit-calc(50% - 8px);
  left: calc(50% - 8px);
}

.fancybox-button--close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fancybox-button--close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Navigation arrows */
.fancybox-arrow {
  position: absolute;
  top: 50%;
  margin: -50px 0 0 0;
  height: 100px;
  width: 54px;
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  cursor: pointer;
  z-index: 99995;
  opacity: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

.fancybox-arrow::after {
  content: '';
  position: absolute;
  top: 28px;
  width: 44px;
  height: 44px;
  background-color: rgba(30, 30, 30, 0.8);
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjQ4IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSI0OCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTIgNGwtMS40MSAxLjQxTDE2LjE3IDExSDR2MmgxMi4xN2wtNS41OCA1LjU5TDEyIDIwbDgtOHoiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 24px 24px;
}

.fancybox-arrow--right {
  right: 0;
}

.fancybox-arrow--left {
  left: 0;
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}

.fancybox-arrow--right::after,
.fancybox-arrow--left::after {
  left: 0;
}

.fancybox-show-nav .fancybox-arrow {
  opacity: 0.6;
}

.fancybox-show-nav .fancybox-arrow[disabled] {
  opacity: 0.3;
}

/* Loading indicator */
.fancybox-loading {
  border: 6px solid rgba(100, 100, 100, 0.4);
  border-top: 6px solid rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  -webkit-animation: fancybox-rotate .8s infinite linear;
  animation: fancybox-rotate .8s infinite linear;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 99999;
}

@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* Transition effects */
.fancybox-animated {
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
          transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
}

/* transitionEffect: slide */
.fancybox-fx-slide.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
}

.fancybox-fx-slide.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  opacity: 0;
}

.fancybox-fx-slide.fancybox-slide--current {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  opacity: 1;
}

/* transitionEffect: fade */
.fancybox-fx-fade.fancybox-slide--previous,
.fancybox-fx-fade.fancybox-slide--next {
  opacity: 0;
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
          transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1;
}

/* transitionEffect: zoom-in-out */
.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  transform: scale3d(1.5, 1.5, 1.5);
  opacity: 0;
}

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5);
  opacity: 0;
}

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

/* transitionEffect: rotate */
.fancybox-fx-rotate.fancybox-slide--previous {
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
  opacity: 0;
}

.fancybox-fx-rotate.fancybox-slide--next {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  opacity: 0;
}

.fancybox-fx-rotate.fancybox-slide--current {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  opacity: 1;
}

/* transitionEffect: circular */
.fancybox-fx-circular.fancybox-slide--previous {
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  opacity: 0;
}

.fancybox-fx-circular.fancybox-slide--next {
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  opacity: 0;
}

.fancybox-fx-circular.fancybox-slide--current {
  -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
  opacity: 1;
}

/* transitionEffect: tube */
.fancybox-fx-tube.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
}

.fancybox-fx-tube.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
}

.fancybox-fx-tube.fancybox-slide--current {
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) {
  .fancybox-infobar {
    left: 0;
    margin-left: 0;
  }
  .fancybox-button--left,
  .fancybox-button--right {
    display: none !important;
  }
  .fancybox-caption {
    padding: 20px 0;
    margin: 0;
  }
}

/* Fullscreen  */
.fancybox-button--fullscreen::before {
  width: 15px;
  height: 11px;
  left: -webkit-calc(50% - 7px);
  left: calc(50% - 7px);
  top: -webkit-calc(50% - 6px);
  top: calc(50% - 6px);
  border: 2px solid;
  background: none;
}

/* Slideshow button */
.fancybox-button--play::before,
.fancybox-button--pause::before {
  top: -webkit-calc(50% - 6px);
  top: calc(50% - 6px);
  left: -webkit-calc(50% - 4px);
  left: calc(50% - 4px);
  background: transparent;
}

.fancybox-button--play::before {
  width: 0;
  height: 0;
  border-top: 6px inset transparent;
  border-bottom: 6px inset transparent;
  border-left: 10px solid;
  border-radius: 1px;
}

.fancybox-button--pause::before {
  width: 7px;
  height: 11px;
  border-style: solid;
  border-width: 0 2px 0 2px;
}

/* Thumbs */
.fancybox-thumbs {
  display: none;
}

.fancybox-button--thumbs {
  display: none;
}

@media all and (min-width: 800px) {
  .fancybox-button--thumbs {
    display: inline-block;
  }
  .fancybox-button--thumbs span {
    font-size: 23px;
  }
  .fancybox-button--thumbs::before {
    width: 3px;
    height: 3px;
    top: -webkit-calc(50% - 2px);
    top: calc(50% - 2px);
    left: -webkit-calc(50% - 2px);
    left: calc(50% - 2px);
    -webkit-box-shadow: 0 -4px 0, -4px -4px 0, 4px -4px 0, 0 0 0 32px inset, -4px 0 0, 4px 0 0, 0 4px 0, -4px 4px 0, 4px 4px 0;
            box-shadow: 0 -4px 0, -4px -4px 0, 4px -4px 0, 0 0 0 32px inset, -4px 0 0, 4px 0 0, 0 4px 0, -4px 4px 0, 4px 4px 0;
  }
  .fancybox-thumbs {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 220px;
    margin: 0;
    padding: 5px 5px 0 0;
    background: #fff;
    word-break: normal;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    z-index: 99995;
  }
  .fancybox-show-thumbs .fancybox-thumbs {
    display: block;
  }
  .fancybox-show-thumbs .fancybox-inner {
    right: 220px;
  }
  .fancybox-thumbs > ul {
    list-style: none;
    position: absolute;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 0;
  }
  .fancybox-thumbs > ul > li {
    float: left;
    overflow: hidden;
    max-width: 50%;
    padding: 0;
    margin: 0;
    width: 105px;
    height: 75px;
    position: relative;
    cursor: pointer;
    outline: none;
    border: 5px solid transparent;
    border-top-width: 0;
    border-right-width: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  li.fancybox-thumbs-loading {
    background: rgba(0, 0, 0, 0.1);
  }
  .fancybox-thumbs > ul > li > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .fancybox-thumbs > ul > li:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 2px;
    border: 4px solid #4ea7f9;
    z-index: 99991;
    opacity: 0;
    -webkit-transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  .fancybox-thumbs > ul > li.fancybox-thumbs-active:before {
    opacity: 1;
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "pf_din_text_cond_proregular", sans-serif;
  color: #000;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.wrap {
  width: 990px;
  margin: 0 auto;
}

@media screen and (max-width: 1020px) {
  .wrap {
    width: 780px;
  }
}

@media screen and (max-width: 820px) {
  .wrap {
    width: 640px;
  }
}

@media screen and (max-width: 680px) {
  .wrap {
    width: 100%;
  }
}

.clearfix {
  display: block;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* html .clearfix {
  height: 1%;
}

p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-family: "pf_din_text_cond_proregular", sans-serif;
  font-size: 18px;
  line-height: 1.3;
}

@media screen and (max-width: 768px) {
  p {
    font-size: 16px;
  }
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.decor-none {
  text-decoration: none !important;
}

.btn-orange {
  display: inline-block;
  padding: 10px 15px;
  margin: 5px 0;
  line-height: 1;
  background-color: #ff8400;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  font-family: "pf_din_text_cond_proregular", sans-serif;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .btn-orange {
    font-size: 16px;
    padding: 8px 10px;
  }
}

@media screen and (max-width: 550px) {
  .btn-orange {
    padding: 4px 10px;
  }
}

.btn-orange:hover, .btn-orange:focus {
  background-color: #ff4e00;
  text-decoration: none;
  color: #ffffff;
}

@media screen and (min-width: 820px) {
  .show-small {
    display: none;
  }
}

@media screen and (max-width: 820px) {
  .hide-small {
    display: none;
  }
}

.header .toggle-nav {
  display: none;
}

.header__top {
  padding: 25px 0 40px 0;
}

@media screen and (max-width: 680px) {
  .header__top {
    padding: 15px 0 15px 0;
  }
}

@media screen and (max-width: 550px) {
  .header__top {
    padding: 15px 0 8px 0;
  }
}

.header__logo {
  float: left;
  width: 40%;
}

@media screen and (max-width: 1020px) {
  .header__logo {
    width: 30%;
  }
}

@media screen and (max-width: 820px) {
  .header__logo {
    width: 50%;
    text-align: center;
  }
  .header__logo img {
    max-width: 175px;
  }
}

@media screen and (max-width: 680px) {
  .header__logo a {
    display: block;
    padding: 0 10px;
  }
}

@media screen and (max-width: 550px) {
  .header__logo img {
    max-width: 100%;
  }
}

.header__info {
  margin-top: 20px;
  float: left;
  width: 37%;
}

@media screen and (max-width: 1020px) {
  .header__info {
    margin-top: 0;
  }
}

@media screen and (max-width: 820px) {
  .header__info {
    display: none;
  }
}

.header__phones {
  margin-top: 20px;
  float: left;
  width: 23%;
}

@media screen and (max-width: 1020px) {
  .header__phones {
    width: 33%;
    margin-top: 0;
  }
}

@media screen and (max-width: 820px) {
  .header__phones {
    width: 50%;
    text-align: center;
  }
}

.header__phone-num {
  font-size: 30px;
  color: #000;
}

.header__phone-num:hover, .header__phone-num:focus {
  text-decoration: none;
}

@media screen and (max-width: 820px) {
  .header__phone-num {
    font-size: 20px;
  }
}

.header__menu {
  background: #ff8400;
  border-bottom: 1px solid #ca6e0a;
  padding: 15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 550px) {
  .header__menu {
    padding: 8px 0;
  }
}

.header__menu * {
  color: #ffffff;
}

.header__menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__menu ul li {
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
}

@media screen and (max-width: 1020px) {
  .header__menu ul li {
    font-size: 16px;
  }
}

.header__menu ul li:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -2.5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #ffffff;
}

@media screen and (max-width: 1020px) {
  .header__menu ul li:after {
    content: none;
  }
}

.header__menu ul li:last-child:after {
  content: none;
}

.header__menu ul li a:hover {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 680px) {
  .header__menu .menu {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  .header__menu .menu ul.active {
    display: none;
  }
  .header__menu .menu ul {
    width: 100%;
    position: absolute;
    top: 120%;
    left: 0;
    padding: 10px 18px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    background: #303030;
    z-index: 100;
    display: inherit;
  }
  .header__menu .menu ul:after {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: 22px;
    content: '';
    -webkit-transform: translate(0%, -100%);
        -ms-transform: translate(0%, -100%);
            transform: translate(0%, -100%);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #303030;
  }
  .header__menu .menu ul li {
    margin: 5px 0 15px 0;
    float: none;
    display: block;
  }
  .header__menu .menu ul a {
    display: block;
  }
  .header__menu .menu ul a:hover {
    color: #ff8400;
    text-decoration: none;
  }
  .header__menu .toggle-nav {
    float: right;
    display: inline-block;
    color: #ffffff;
    font-size: 30px;
    margin: 0 15px;
    -webkit-transition: color linear 0.15s;
    transition: color linear 0.15s;
  }
  .header__menu .toggle-nav:hover, .header__menu .toggle-nav:focus, .header__menu .toggle-nav.active {
    text-decoration: none;
    color: #000;
  }
}

.slider-main {
  width: 100%;
  height: 405px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  position: relative;
}

@media screen and (max-width: 550px) {
  .slider-main {
    height: 431px;
  }
}

.slider-main:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #fdc029;
}

.slider-main .slick-slide {
  height: 405px;
  margin: 0 0.5px;
  -webkit-transform: skew(-195deg);
      -ms-transform: skew(-195deg);
          transform: skew(-195deg);
  overflow: hidden;
}

@media screen and (max-width: 550px) {
  .slider-main .slick-slide {
    height: 431px;
  }
}

.slider-main .slick-slide:focus {
  outline: none;
}

.slider-main .slick-slide__inner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  height: 405px;
  -webkit-transform: skew(195deg);
      -ms-transform: skew(195deg);
          transform: skew(195deg);
  width: 200%;
  margin-left: -50%;
}

.slider-main__form {
  width: 100%;
  position: absolute;
  bottom: -8px;
  left: 0;
}

.slider-main__form-block {
  max-width: 890px;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1020px) {
  .slider-main__form-block {
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
  }
}

.slider-main__form-block:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -20px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transform: skew(-195deg);
      -ms-transform: skew(-195deg);
          transform: skew(-195deg);
}

@media screen and (max-width: 1020px) {
  .slider-main__form-block:after {
    content: none;
  }
}

.slider-main__form-inner {
  padding: 25px 25px 15px 25px;
  position: relative;
  z-index: 10;
}

@media screen and (max-width: 680px) {
  .slider-main__form-inner {
    padding: 15px 5px;
  }
}

@media screen and (max-width: 550px) {
  .slider-main__form-inner {
    padding: 15px 5px 7px 5px;
  }
}

.slider-main__form-inner h2 {
  font-size: 35px;
  text-transform: uppercase;
}

@media screen and (max-width: 1020px) {
  .slider-main__form-inner h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 680px) {
  .slider-main__form-inner h2 {
    font-size: 23px;
  }
}

.slider-main__form-inner p {
  font-size: 16px;
  margin: 9px 0;
  color: #2b2a28;
  text-transform: uppercase;
}

.slider-main form input {
  background: #ffffff;
  border: 1px solid #000;
  text-transform: uppercase;
  font-size: 20px;
  padding: 8px 10px;
  display: inline-block;
  vertical-align: top;
  max-width: 180px;
  margin-bottom: 5px;
}

@media screen and (max-width: 1020px) {
  .slider-main form input {
    font-size: 14px;
    max-width: 175px;
  }
}

@media screen and (max-width: 820px) {
  .slider-main form input {
    max-width: 100%;
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    margin-bottom: 10px;
  }
}

.slider-main form input[type="submit"] {
  background: #ff8400;
  border: none;
  text-transform: uppercase;
  font-size: 25px;
  padding: 0;
  font-family: "pf_din_text_cond_promedium", sans-serif;
  width: 197px;
  height: 41px;
  line-height: 44px;
  color: #000;
}

@media screen and (max-width: 1020px) {
  .slider-main form input[type="submit"] {
    font-size: 24px;
    width: 175px;
    height: 35px;
    line-height: 35px;
  }
}

@media screen and (max-width: 820px) {
  .slider-main form input[type="submit"] {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
  }
}

.slider-main form input[type="submit"]:hover, .slider-main form input[type="submit"]:focus {
  outline: none;
  background: #ff4e00;
}

.slider-main form input[type="checkbox"] {
  background: #ffffff;
  border-radius: 0;
  width: 0;
  height: 0;
  opacity: 0;
  position: relative;
  margin: 0;
  padding: 0;
}

.slider-main form .checkbox-block {
  margin-top: 17px;
}

@media screen and (max-width: 820px) {
  .slider-main form .checkbox-block {
    margin-top: 5px;
    text-align: left;
  }
}

.slider-main form .checkbox-custom-label {
  font-size: 16px;
}

@media screen and (max-width: 400px) {
  .slider-main form .checkbox-custom-label {
    padding-left: 29px;
    position: relative;
    font-size: 14px;
    display: block;
  }
}

.slider-main form .checkbox-custom + .checkbox-custom-label:before {
  content: '';
  background: #fff;
  border: 1px solid #000;
  display: inline-block;
  vertical-align: middle;
  width: 23px;
  height: 23px;
  margin-right: 10px;
  margin-top: -5px;
  text-align: center;
}

@media screen and (max-width: 400px) {
  .slider-main form .checkbox-custom + .checkbox-custom-label:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0;
  }
}

.slider-main form .checkbox-custom:checked + .checkbox-custom-label:before {
  content: "\2713";
  font-size: 20px;
  background: #ffffff;
  color: #000;
}

.slider-main form .checkbox-custom:focus + .checkbox-custom-label {
  outline: none;
}

.slider-main .comment {
  margin-right: 100px;
}

@media screen and (max-width: 1020px) {
  .slider-main .comment {
    margin-right: 0;
  }
}

@media screen and (max-width: 550px) {
  .slider-main .comment {
    max-width: 225px;
    margin: 10px auto;
  }
}

.slider-main .comment p {
  color: #ffffff;
  font-size: 16px;
  margin-top: 0;
}

@media screen and (max-width: 820px) {
  .slider-main .comment p {
    color: #000;
    text-transform: inherit;
    font-size: 15px;
  }
}

.slider-main .comment a {
  color: #ffffff;
}

@media screen and (max-width: 820px) {
  .slider-main .comment a {
    color: #000;
  }
}

.main-content {
  padding: 65px 0;
}

@media screen and (max-width: 820px) {
  .main-content {
    padding: 50px 0;
  }
}

.main-content .left-content {
  width: 66%;
  margin-right: 3%;
  float: left;
}

@media screen and (max-width: 820px) {
  .main-content .left-content {
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    margin-right: 0;
    float: none;
    padding: 0 10px;
  }
}

.main-content .right-content {
  width: 31%;
  float: right;
}

@media screen and (max-width: 820px) {
  .main-content .right-content {
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
    float: none;
    margin-bottom: 50px;
    padding: 0 10px;
  }
}

.main-content h3 {
  font-size: 34px;
  line-height: 1.1;
  margin-bottom: 21px;
  text-transform: uppercase;
}

@media screen and (max-width: 680px) {
  .main-content h3 {
    font-size: 30px;
  }
}

.work {
  margin-bottom: 40px;
}

@media screen and (max-width: 550px) {
  .work {
    margin-bottom: 13px;
  }
}

.work:last-child {
  margin-bottom: 0;
}

.work__image {
  float: left;
  width: 40%;
  max-width: 210px;
}

@media screen and (max-width: 820px) {
  .work__image {
    display: none;
  }
}

.work__image img {
  width: 185px;
  height: 185px;
  border: 5px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.work__content {
  float: left;
  width: 60%;
}

@media screen and (max-width: 820px) {
  .work__content {
    width: 100%;
  }
}

.work__content h3 {
  font-size: 30px;
  line-height: 1.15;
  margin-bottom: 20px;
  text-transform: uppercase;
}

@media screen and (max-width: 820px) {
  .work__content h3 {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 550px) {
  .work__content h3 {
    margin-bottom: 4px;
  }
}

.work__content p {
  font-size: 18px;
  margin-bottom: 18px;
  line-height: 1.2;
}

.work__content .btn-orange {
  margin: 5px 0;
  min-width: 197px;
  padding: 6px;
}

@media screen and (max-width: 820px) {
  .work__content .btn-orange {
    width: 200px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    font-size: 24px;
  }
}

.certificate {
  margin-bottom: 105px;
}

@media screen and (max-width: 820px) {
  .certificate {
    margin-bottom: 50px;
  }
  .certificate h3 {
    text-align: left;
  }
}

.certificate img {
  max-width: 240px;
  height: auto;
}

@media screen and (max-width: 550px) {
  .certificate img {
    max-width: 160px;
  }
}

.certificate a {
  outline: none;
}

@media screen and (max-width: 820px) {
  .slider-products h3 {
    text-align: left;
  }
}

.slider-products .slick-slider {
  padding-top: 12px;
}

@media screen and (max-width: 550px) {
  .slider-products .slick-slider {
    padding: 0;
  }
}

.slider-products .slick-slide img {
  width: 262px;
  height: 262px;
  display: block;
  margin: 25px auto;
  border-radius: 50%;
  border: 5px solid #ffffff;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 1020px) {
  .slider-products .slick-slide img {
    width: 215px;
    height: 215px;
  }
}

@media screen and (max-width: 550px) {
  .slider-products .slick-slide img {
    margin: 0 auto;
  }
}

.slider-products .arrow-right {
  display: inline-block !important;
  margin-top: 7px;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 17px 9.5px 0 9.5px;
  border-color: #ff9701 transparent transparent transparent;
}

@media screen and (max-width: 820px) {
  .slider-products .arrow-right {
    display: block !important;
    position: absolute;
    top: 50%;
    right: 8px;
    margin-top: -9.5px;
    border-width: 9.5px 0 9.5px 17px;
    border-color: transparent transparent transparent #ff9701;
    z-index: 10;
  }
}

.slider-products .arrow-left {
  display: inline-block !important;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9.5px 17px 9.5px;
  border-color: transparent transparent #ff9701 transparent;
}

@media screen and (max-width: 820px) {
  .slider-products .arrow-left {
    display: block !important;
    position: absolute;
    top: 50%;
    margin-top: -9.5px;
    left: 8px;
    border-width: 9.5px 17px 9.5px 0;
    border-color: transparent #ff9701 transparent transparent;
    z-index: 10;
  }
}

@media screen and (max-width: 680px) {
  .clients {
    padding-bottom: 30px;
    background: #fdc029;
  }
}

.clients__top {
  background: #fdc029;
  padding: 40px 0 15px 0;
}

@media screen and (max-width: 680px) {
  .clients__top {
    padding: 40px 10px 5px 10px;
  }
}

.clients__top h3 {
  font-size: 35px;
  margin-bottom: 13px;
  text-transform: uppercase;
}

.clients__top p {
  font-family: "pf_din_text_comp_proLtIt", sans-serif;
  font-size: 24px;
}

@media screen and (max-width: 680px) {
  .clients__top p {
    line-height: 1.1;
  }
}

.clients .tabs__top {
  background: #fdc029;
  padding: 10px 0 40px 0;
}

@media screen and (max-width: 820px) {
  .clients .tabs__top {
    display: none;
  }
}

.clients .tabs__top ul.tabs-list {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%;
  text-align: center;
}

.clients .tabs__top ul.tabs-list li {
  display: inline-block;
  margin: 0 15px;
  cursor: pointer;
  font-size: 22px;
  font-family: "pf_din_text_cond_promedium", sans-serif;
  position: relative;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (max-width: 1020px) {
  .clients .tabs__top ul.tabs-list li {
    font-size: 16px;
  }
}

.clients .tabs__top ul.tabs-list li.active {
  font-family: "pf_din_text_cond_prolight", sans-serif;
}

.clients .tabs__top ul.tabs-list li.active:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -64px;
  left: 50%;
  margin-left: -23px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 23px 0 23px;
  border-color: #fdc029 transparent transparent transparent;
}

.clients .tabs .tab_container {
  clear: both;
  float: left;
  width: 100%;
  background: #fff;
  overflow: auto;
}

.clients .tabs .tab_content {
  padding: 40px 0;
  display: none;
  text-align: center;
}

@media screen and (max-width: 820px) {
  .clients .tabs .tab_content {
    padding: 40px 15px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    margin-bottom: -1px;
  }
  .clients .tabs .tab_content:last-child {
    border-bottom: 2px solid black;
  }
}

.clients .tabs .tab_content .logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.clients .tabs .tab_content .logos img {
  display: inline-block;
  vertical-align: middle;
  margin: 32px 0;
  width: 33%;
  max-width: 280px;
}

@media screen and (max-width: 820px) {
  .clients .tabs .tab_content .logos img {
    padding: 0 10px;
  }
}

@media screen and (max-width: 450px) {
  .clients .tabs .tab_content .logos img {
    width: 90%;
    max-width: 90%;
    display: block;
    margin: 15px auto;
  }
}

.clients .tabs .tab_drawer_heading {
  display: none;
}

@media screen and (max-width: 820px) {
  .clients .tabs__bottom .wrap {
    width: 100%;
  }
  .clients .tabs .tab_drawer_heading {
    background-color: #fdc029;
    color: #000;
    border-top: 1px solid #000;
    margin: 0;
    padding: 20px 55px 20px 15px;
    display: block;
    cursor: pointer;
    font-size: 22px;
    font-family: "pf_din_text_cond_promedium", sans-serif;
    text-transform: uppercase;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
  }
  .clients .tabs .tab_drawer_heading:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 26px;
    margin-top: -10px;
    width: 19px;
    height: 18px;
    background: url("../images/arrows-tabs.png") no-repeat 0 -24px;
  }
  .clients .tabs .tab_drawer_heading.d_active:after {
    background: url("../images/arrows-tabs.png") no-repeat 0 0;
  }
}

.page-404 {
  padding: 50px 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.page-404__inner {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.page-404__inner h3 {
  font-size: 150px;
}

.page-404__inner h4 {
  font-size: 36px;
  font-family: "pf_din_text_comp_proLtIt", sans-serif;
}

.footer {
  padding: 40px 0;
  background: #000;
}

.footer * {
  color: #ffffff;
  font-size: 16px;
}

.footer a {
  text-decoration: underline;
}

.footer a:hover, .footer a:focus {
  color: #ff8400;
  text-decoration: none;
}

.footer__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

@media screen and (max-width: 680px) {
  .footer__inner {
    padding: 0 10px;
  }
}

.footer__block {
  width: 20%;
}

@media screen and (max-width: 825px) {
  .footer__block {
    width: auto;
  }
}

@media screen and (max-width: 525px) {
  .footer__block {
    width: 100%;
    max-width: 275px;
    text-align: center;
    margin: 0 auto;
  }
  .footer__block:first-child {
    display: none;
  }
  .footer__block ul li {
    margin-bottom: 10px;
  }
  .footer__block .decor-none {
    font-size: 21px;
  }
}
